footer {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  font-size: 1.2em;
  font-weight: 300;
  font-family: system-ui;
  padding: 0.5rem 0;
  z-index: -1;

  p {
    margin: 0;
  }
}

