
.cardContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 25rem;
  max-width: 80%;
  padding-bottom: 4rem;

  .container-image {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: auto;
      width: 80%;
      border-radius: 10px;
      margin: 0 auto;
    }
  }

  .card {
    position: relative;
    padding: 2rem;
    margin-top: 3rem;
    max-width: 30rem;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    background: white;

    h1 {
      text-align: center;
      margin: 0;
    }

    p {
      color: grey;
      text-align: center;
    }

    .buttons {
      margin-top: 1rem;
      display: flex;
      width: 100%;

      button {
        width: 100%;
      }

      :first-child {
        margin-right: 0.5rem;
      }
    }

    .loading {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffffa8;
    }
  }
}
