<div class="cardContainer">
  <div class="container-image">
    <img src="assets/img/109a0cb9c3b1532699f6a591c6476474.png" alt="People interacting">
  </div>
  <div class="card">
    <h1>Welcome to KalmaChat 🔥</h1>
    <p>Angular, Firebase, SCSS were used</p>
    <mat-form-field>
      <mat-label>Room id</mat-label>
      <input [formControl]="roomControl" (change)="startedTyping()" #roomInput matInput>
      <mat-hint>Tip: paste the link or room ID here</mat-hint>
      <mat-error *ngIf="roomControl.hasError('empty')">{{roomControl.getError('empty')}}</mat-error>
    </mat-form-field>
    <div class="buttons">
      <button (click)="joinRoom(roomInput.value)" mat-raised-button color="primary">Join</button>
      <button (click)="generateRandomRoomAndJoin()" mat-raised-button>Random</button>
    </div>
    <div *ngIf="loading" class="loading">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </div>
</div>
